.Post {
    width: 800px;
    height: 150px;

    background-color: mediumspringgreen;
    margin-top: 15px;
    margin-left: 30px;
}

.btn {
    width: 80px;
    height: 35px;
    border: 2px solid red;
}
.textar {
    width: 500px;
    height: 80px;
}
.avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}